<br><br>
<div class="col-md-6 col-md-offset-2">
  <h3>Edit User</h3>
  <br/>
  <!--Design edit user-->
  <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="firstname">First Name</label>
      <input type="firstname" class="form-control" formControlName="firstname" id="firstname">
      <div *ngIf="submitted && editForm.controls.firstname.errors" class="error">
        <div class="text-danger" *ngIf="editForm.controls.firstname.errors.required">
          First Name is Required!!
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="lastname">Last Name</label>
      <input type="lastname" class="form-control" formControlName="lastname" id="lastname">
      <div *ngIf="submitted && editForm.controls.lastname.errors" class="error">
        <div class="text-danger" *ngIf="editForm.controls.lastname.errors.required">
          Last Name is Required!!
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" formControlName="email" id="email">
      <div *ngIf="submitted && editForm.controls.email.errors" class="error">
          <div class="text-danger" *ngIf="editForm.controls.email.errors.required">
            Email is Required!!
          </div>
          <div class="text-danger" *ngIf="editForm.controls.email.errors.email">
            Invalid Email!!
          </div>
      </div>
    </div>
    <div>
      <button class="btn btn-success">Save Changes</button> &nbsp;
      <button class="btn btn-danger" type="reset">Cancel</button>
      &nbsp;&nbsp;
      <a class="btn btn-warning" [routerLink]="['/list-user']">Back to list</a>
      <br><br>
    </div>
  </form>
</div>
  
